@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html, body, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Opens Sans', serif;
  box-sizing: border-box;
}

.application .controls-overlay {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  padding: 20px;
  opacity: 0;
  transform: translate(0, -75px);
  transition: opacity .4s, transform .5s;
}

.application.mouse-moved .controls-overlay {
  opacity: 1;
  transform: translate(0, 0);
}

.application .controls-overlay nav {
  display: flex;
}

.application .controls-overlay nav.controls {
  margin-left: auto;
}

button {
  width: 100px;
  height: 100px;
  margin-right: 10px;

  background-color: white;
  border: 1px solid #666;
  border-radius: 4px;
  box-shadow: 0 0 2px 0;

  font-size: 16px;

  opacity: .5;
  transition: opacity .35s;
}

button:hover {
  opacity: 1;
}
